html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

// <------------------Home----------------->
.home {
  min-height: 100vh;
}

// <--------------Profile Details --------------->
.profile__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

// header --------------

.header {
  padding: 24px;
  &__content {
    h1 {
      font-size: 2.5rem;
      line-height: 16px;
    }
    h2 {
      margin-top: 24px;
      font-size: 1.5rem;
      font-weight: bold;
    }
    P {
      margin-top: 24px;
      font-size: 14px;
      color: #949495;
      line-height: 1.5rem;
    }
  }
  &__nav {
    &__navlist {
      list-style-type: none;
      text-decoration: none;
      &__item {
        display: flex;
        align-items: center;
        gap: 5px;
        &--line {
          width: 2rem;
          height: 1px;
          display: inline-block;
          background: #fafafa;
        }
      }
    }
  }
}

// Footer -----------------

.footer {
  display: flex;
  padding: 24px;
  align-items: center;

  gap: 20px;
  &__profile {
    width: 48px;
    height: 48px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__twitter {
    display: flex;
    gap: 5px;
    align-items: center;
    &__link {
      width: 18px;
      height: 21px;
      position: relative;
    }
    &__text {
    }
    &__img {
      width: 16px;
      height: 16px;
      position: relative;
    }
  }
  &__github {
    display: flex;
    align-items: center;
    gap: 10px;
    &__link {
      width: 18px;
      height: 21px;
      position: relative;
    }
    &__img {
      width: 16px;
      height: 16px;
      position: relative;
    }
    &__text {
    }
  }
}

// <--------------Profile summery --------------->
// .profileSummery {
//   padding: 24px 0px;
// }
// Projects ------------
.projects {
  padding: 24px;
  &__container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.projectbox {
  height: 215px;
  background-color: #202022;
  width: 100%;
  padding: 40px;
}

// Skills --------------
.skills {
  padding: 24px;
  &__container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.skillbox {
  height: 215px;
  background-color: #202022;
  width: 100%;
  padding: 40px;
}

// current-learning --------------

.contactme {
  padding: 24px;
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (min-width: 900px) {
  // home ---------------->
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  .profile__details {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 100vh;
    padding: 50px 0px;
  }
  .header {
    width: 100%;
    max-width: 450px;
    &__content {
      h1 {
        font-size: 3rem;
      }
      h2 {
        margin-top: 32px;
      }
      p {
        line-height: 2rem;
      }
    }
    &__nav {
      margin-top: 50px;
      &__navlist {
        display: flex;
        flex-direction: column;
        gap: 32px;
        &__navlist__item {
          &--line {
            margin: 0px 24px;
          }
        }
      }
    }
  }
}
